*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

@keyframes slideLeftOpacity {
    0%{
        opacity: 0;
        transform: translateX(-10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideRightOpacity {
    0%{
        opacity: 0;
        transform: translateX(10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideDownOpacity {
    0%{
        opacity: 0;
        transform: translateY(-10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}